# Editor configuration, see https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = double

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[package.json]
indent_size = 2
indent_style = space

[.eslintrc.cjs]
indent_size = 4
indent_style = space

[*.md]
max_line_length = off
